.card__title{
  font-size: 0.875rem;
  font-weight: normal;
  text-align: left;
  line-height: normal;
  letter-spacing: normal;
  max-width: 150px;
  margin: 14px auto 0;
}
@media (max-width: 768px) {
  .card__title{
    max-width: 100%;
  }
}

@media (max-width: 424px) {
  .card__title{
    max-width: 90%;
  }
}

