.grid__elements{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  gap: 20px;
  list-style: none;
  padding:0 0 24px;
}

@media (max-width: 1023px) {
  .grid__elements{
    justify-items: center;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .grid__elements{
    grid-template-columns:repeat(3, 1fr);
  }
}
