.card__empty-img{
  width: 50%;
  margin: 0 auto;
  justify-self: center;
  justify-items: center;
  justify-content: center;
  align-self: center;
  align-items: center;
  align-content: center;
  order: 0;
}
