.card__add{
  width: 32px;
  height: 32px;
  border-radius: 8px;
  border: solid 1px #f2f2f2;
  background-color: #fff;
  color: #d3d3d3;
  font-size: 1rem;
  grid-area: card__add;
  cursor: pointer;
}
