.cart{
  overflow-y: auto;
  margin-right: -25px;
  flex: 1;
  list-style: none;
  padding: 0;
  scrollbar-color:#f9f9fd;
  scrollbar-width: 5px;
  &::-webkit-scrollbar{
    width: 5px;
    background-color: #f9f9fd;
  }
  &::-webkit-scrollbar-thumb{
    background-color: #d0d0d0;
  }
}

@media (min-width: 320px) and (max-width: 375px) {
  .cart{
    margin-right:0;
  }
}

