.card__like{
  position: absolute;
  top: 29px;
  left: 36px;
  width: 32px;
  height: 32px;
  border-radius: 7px;
  border: 1px solid #F8F8F8;
  background: center / 14px no-repeat url("/images/card/like.svg") #fff;
  cursor: pointer;
  transition: all 0.5s ease;
  &:hover{
    border-color: #FEF0F0;
  }
  &:focus{
    background: center / 14px no-repeat url("/images/card/like-active.svg") #FEF0F0;
  }
}
