.card__desc{
  margin: 14px 0 0;
  display: grid;
  align-items: center;
  grid-template-columns: 1.3fr 0.7fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    ". card__add"
    ". card__add";
  padding-left: 30px;
}

@media (min-width: 425px) and (max-width: 865px) {
  .card__desc{
    padding:0;
  }
}
@media (max-width: 424px) {
  .card__desc{
    padding-left: 5%;
  }
}
