.card__desc{
  outline: 1px solid red;
  display: grid;
  grid-template-columns: 1.5fr 0.5fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  grid-template-areas:
    ". card__add"
    ". card__add";
}
