.cart__img{
  display: inline-block;
  object-fit: cover;
  height: 70px;
  width: auto;
  transition: transform 0.5s ease;
  &:hover{
    transform: scale(1.05);
  }
}

@media (min-width: 320px) and (max-width: 375px) {
  .cart__img{
    height: auto;
  }
}
